.navbar-brand{
    font-weight: bold;
}

.login-bar{
    text-align: right;
    margin: auto;
}
.login-name{
    margin-right: 20px;
}
/* 
.row{
    width: 100%;
} */

.form-div.login{
    margin: 50px auto 50px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #80ced7;
    border-radius: 5px;
    font-size: 1.1em;
}

.form-div.evaluate{
    margin: 25px 0 25px;
    padding: 25px 15px 10px 15px;
    font-size: 1.1em;
}

.form-control:focus{
    box-shadow: none;
}

form p {
    font-size: .89em;
}

.dashboard-tab{
    margin: 50px auto 50px;
}
.evaluate-table{
    margin-top: 25px;
    margin-bottom: 50px;
}
.evaluate-table tr td{
    text-align: center;
}

.evaluate-table tr td input[type="radio"]{
    transform: scale(1.5);
}
