.navbar-brand{
    font-weight: bold;
}

.login-bar{
    text-align: right;
    margin: auto;
}
.login-name{
    margin-right: 20px;
}
/* 
.row{
    width: 100%;
} */

.form-div{
    margin: 50px auto 50px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #80ced7;
    border-radius: 5px;
    font-size: 1.1em;
}

.form-control:focus{
    box-shadow: none;
}

form p {
    font-size: .89em;
}

.dashboard-tab{
    margin: 50px auto 50px;
}